<!Doctype html>
{% load static %}
<html lang="en">
<head>
    <title> </title>
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/c.css' %}">

</head>
<body>
<div class="container" align='center'>
      <h1>Sunny Movies........</h1>
      <p>Upto date movies information</p>
      <a class="btn btn-primary" href="/add">ADD</a>
      <a class="btn btn-primary" href="/movielist">List Movie</a>

</div>
</body>
</html>